<section class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">JAVASCRIPT</a></li>
      <li><a href="#">RUBY</a></li>
    </ul>
  </nav>

  <img class="logo" src="assets/AA_Times_Logo.png" alt="App Academy Times Logo">

  <nav class="masthead-links">
    <ul>
      <li>
        <time><%= Time.now.strftime("%A, %B %d, %Y") %></time>
      </li>
      <li>
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        <a href="#">Today's Paper</a>
      </li>
      <li>
        <i class="fa fa-video-camera" aria-hidden="true"></i>
        <a href="#">Video</a>
      </li>
      <li>
        <button type="button" name="temperature">50°F</button>
      </li>
      <li>
        <button type="button" name="stock">
          AAO <strong>+100%</strong>
        </button>
      </li>
    </ul>
  </nav>
</section>
